.search-button {
  display: flex;
  justify-content: flex-end;

  &__button {
    display: flex;
    gap: 8px;
    align-items: center;
    color: #505050;
    font-size: 14px;
    font-family: Sora, sans-serif;
    line-height: 20px;
    background: none;
    border: none;
    cursor: pointer;
    transition: var(--transition);

    &:hover {
      color: #000;

      & path {
        stroke: #000;
      }
    }

    &_active {
      color: #000;

      & path {
        stroke: #000;
      }
    }
  }
}
