.creator-sidebar {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 1rem 0;

  &__link {
    color: #808080;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;

    &_active {
      color: #000;
    }

    &:hover {
      color: #000;
    }
  }

  &__item {
    margin-bottom: 0.5rem;
  }
}
