.creator-profile-block {
  margin: 0 auto;

  &__wrapper {
    max-width: 1136px;
    margin: 0 auto;
  }

  &__sedcard {
    margin-top: 40px;
    margin-bottom: 100px;
  }

  &__back-button {
    position: relative;
    margin-bottom: 2px;
    margin-left: 24px;
    color: #505050;
    font-weight: 400;
    font-size: 14px;
    font-family: Sora, sans-serif;
    line-height: 20px;
    cursor: pointer;
    transition: var(--transition);

    &:hover {
      color: black;
    }

    &::before {
      position: absolute;
      bottom: 50%;
      left: -24px;
      width: 24px;
      height: 24px;
      background: url('../../assets/img/arrow-prev.svg') no-repeat left center;
      transform: translateY(50%);
      content: '';
    }
  }
}
